body {
    background-color: #f5f5f5; /* Fondo m치s claro */
    color: #333; /* Texto m치s oscuro */
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

/* Centrado de contenido en la p치gina */
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.header {
    text-align: center;
    margin-bottom: 40px;
}

.glitch {
    font-size: 40px;
    position: relative;
    animation: glitch 2s infinite;
}

@keyframes glitch {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    25% {
        transform: translateY(-5px);
        opacity: 0.75;
    }
    50% {
        transform: translateY(5px);
        opacity: 0.75;
    }
    75% {
        transform: translateY(-2px);
        opacity: 0.75;
    }
    100% {
        transform: translateY(2px);
        opacity: 1;
    }
}
.boxes {
    display: flex;
}
.box {
    background-color: #f0f0f0; /* Color de fondo m치s claro */
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 500px;
    margin-right: 20px;
}

.box2 {
    background-color: #f0f0f0; /* Color de fondo m치s claro */
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 500px;
}

input[type="text"],
input[type="number"] {
    background-color: #f9f9f9; /* Fondo blanco m치s claro */
    color: #333; /* Texto oscuro */
    border: 1px solid #ccc; /* Borde gris */
    padding: 10px;
    border-radius: 5px;
    width: 93%;
    margin-bottom: 10px;
}

button {
    background-color: #007bff; /* Azul */
    color: #fff; /* Texto blanco */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 60%;
    transition: background-color 0.2s ease;
}

button:hover {
    background-color: #0056b3; /* Azul m치s oscuro al pasar el rat칩n */
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    background-color: #f0f0f0; /* Color de fondo m치s claro */
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
}

/* Icono futurista */
input[type="text"]::placeholder:before {
    content: "游 ";
    color: #007bff; /* Azul */
    font-size: 16px;
    padding-right: 5px;
}

/* Barra de desplazamiento personalizada para la lista */
ul::-webkit-scrollbar {
    width: 8px;
    background-color: #fff; /* Fondo blanco */
}

ul::-webkit-scrollbar-thumb {
    background-color: #007bff; /* Azul */
    border-radius: 5px;
}

.title {
    background: #007bff; /* Azul */
    display: flex;
    width: 300px;
    text-align: center;
    justify-content: center;
    margin: 0 0 60px 0;
}

.presupuesto {
    background: #007bff; /* Azul */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.presupuesto .box {
    background-color: #f9f9f9; /* Color de fondo m치s claro */
    box-shadow: none;
    padding: 10px;
    font-size: 18px;
    border-radius:5px;
}